input {
  width: 248px;
  height: 75px;
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  margin: auto;
  margin-top: 5px;
  background-color: black;
  border: none;
  color: #ffffff;
  font-size: 70px;
  text-align: end;
 
}
.position {
  width: 250px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4,1fr);
  background-color: black;
  padding: 10px;
 
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#333333;
  border: none;
  color: white;
  margin: 5px auto;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #585858;
}
button.orange {
  background-color: #ff9f0a;
}
button.orange:hover {
  background-color:#cf7f06;
}
button.grey {
  background-color: #a5a5a5;
  color: black;
}
button.header {
  grid-column: span 2;
  width: 110px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

